deploy/n8n-telegram-consultant.workflow.json
{
  "name": "Avtovozom — Telegram консультант (бот)",
  "nodes": [
    {
      "parameters": {
        "content": "## Настройка\n\nВсе параметры — в узле **«Настройки workflow»**.\n\n**backendApiSecret** = `N8N_TELEGRAM_BOT_API_SECRET` в `.env` бэкенда (общий пароль, чтобы n8n мог создавать заявки через API).\n\nCredentials: Telegram и OpenAI — в соответствующих узлах.",
        "height": 200,
        "width": 400
      },
      "id": "bot-sticky-note-00",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 80]
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "bot-tg-trigger-01",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 360],
      "webhookId": "avtovozom-bot-consultant",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TELEGRAM_CREDENTIAL",
          "name": "Avtovozom Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-apiBaseUrl",
              "name": "apiBaseUrl",
              "value": "https://api.avtovozom.com",
              "type": "string"
            },
            {
              "id": "cfg-backendApiSecret",
              "name": "backendApiSecret",
              "value": "ЗАМЕНИТЕ_на_тот_же_секрет_что_N8N_TELEGRAM_BOT_API_SECRET_в_backend_env",
              "type": "string"
            },
            {
              "id": "cfg-llmModel",
              "name": "llmModel",
              "value": "gpt-5.5",
              "type": "string"
            },
            {
              "id": "cfg-llmTemperature",
              "name": "llmTemperature",
              "value": "0.35",
              "type": "string"
            },
            {
              "id": "cfg-searchCarsLimit",
              "name": "searchCarsLimit",
              "value": "5",
              "type": "string"
            },
            {
              "id": "cfg-searchCarsFetchLimit",
              "name": "searchCarsFetchLimit",
              "value": "100",
              "type": "string"
            },
            {
              "id": "cfg-webOrigin",
              "name": "webOrigin",
              "value": "https://avtovozom.com",
              "type": "string"
            },
            {
              "id": "cfg-channelHintText",
              "name": "channelHintText",
              "value": "Этот бот отвечает в личных сообщениях. Напишите мне в личку, чтобы подобрать авто или оставить заявку на расчёт.",
              "type": "string"
            },
            {
              "id": "cfg-systemPrompt",
              "name": "systemPrompt",
              "value": "Ты консультант avtovozom.com — сервиса подбора и доставки автомобилей из Китая и азиатского рынка под ключ до РФ.\n\nПеред вызовом инструмента переводи фразу клиента в параметры API. Не передавай в инструменты сырой текст клиента целиком.\n\nФормат инструментов avtovozom:\n• search_cars — q: марка/модель латиницей как в каталоге (Audi, BMW). Марки на русском переводи: Ауди→Audi, БМВ→BMW, Тойота→Toyota, Мерседес→Mercedes-Benz. Без бюджета в q. max_total_rub в ₽ (3 млн = 3000000). Пример: «Ауди до 3 млн» → {\"q\":\"Audi\",\"max_total_rub\":3000000}\n• get_car — listing_id: только цифры ID объявления с сайта.\n• get_faq — без параметров ({}).\n• create_lead — user_name, user_contact, comment обязательны; car_id опционально (цифры ID лота).\n\nПравила:\n1. Отвечай на русском, дружелюбно и по делу.\n2. Если в памяти диалога ещё нет твоих ответов — один раз коротко поприветствуй. Не дублируй абзацы.\n3. Только факты из инструментов. Не выдумывай цены и наличие.\n4. Бюджет клиента — всегда max_total_rub, не в q. Марка/модель — в q, без бюджета.\n5. «Другие марки» / «не BMW» — новый q или только max_total_rub без старой марки.\n6. Варианты из search_cars — каждый с listing_url отдельной строкой + estimated_total_rub.\n7. Пустой каталог — предложи create_lead без car_id.\n8. create_lead только при имени, контакте и описании авто.\n9. После create_lead с ok и request_id — номер заявки. При error — не говори что принята.\n10. Цены — ориентир по estimated_total_rub.\n11. Не обсуждай конкурентов и не давай юридических гарантий.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bot-set-config-03",
      "name": "Настройки workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 360],
      "notesInFlow": true,
      "notes": "Редактируйте здесь: apiBaseUrl, backendApiSecret, llmModel, systemPrompt и др."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "only-private",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.type }}",
              "rightValue": "private",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bot-if-private-02",
      "name": "Только личка",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 360]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ctx-chatId",
              "name": "chatId",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "ctx-username",
              "name": "username",
              "value": "={{ $('Telegram Trigger').item.json.message.from.username || '' }}",
              "type": "string"
            },
            {
              "id": "ctx-userText",
              "name": "userText",
              "value": "={{ $('Telegram Trigger').item.json.message.text || '' }}",
              "type": "string"
            },
            {
              "id": "ctx-firstName",
              "name": "firstName",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name || '' }}",
              "type": "string"
            },
            {
              "id": "ctx-llmModel",
              "name": "llmModel",
              "value": "={{ $('Настройки workflow').first().json.llmModel || 'gpt-5.5' }}",
              "type": "string"
            },
            {
              "id": "ctx-systemPrompt",
              "name": "systemPrompt",
              "value": "={{ $('Настройки workflow').first().json.systemPrompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bot-set-context-04",
      "name": "Контекст чата",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 280]
    },
    {
      "parameters": {
        "model": "={{ $json.llmModel || 'gpt-5.5' }}"
      },
      "id": "bot-openai-model-05",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1180, 520],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_OPENAI_CREDENTIAL",
          "name": "OpenAI"
        }
      },
      "notesInFlow": true,
      "notes": "Модель — из $json.llmModel (узел «Контекст чата» ← «Настройки workflow»). Sub-node не видит $('Настройки workflow') напрямую."
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Контекст чата').item.json.chatId }}"
      },
      "id": "bot-memory-06",
      "name": "Память диалога",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1180, 680]
    },
    {
      "parameters": {
        "name": "search_cars",
        "description": "Поиск авто в каталоге avtovozom.com. q — марка/модель латиницей (Audi, Q2); русские марки переводи (Ауди→Audi). Бюджет — max_total_rub. Пример: «Ауди до 3 млн» → q=Audi, max_total_rub=3000000.",
        "language": "javaScript",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"q\": {\n      \"type\": \"string\",\n      \"description\": \"Марка/модель латиницей как в каталоге (Audi, BMW, Q2). Русские марки переводи в латиницу. Без бюджета\"\n    },\n    \"max_total_rub\": {\n      \"type\": \"number\",\n      \"description\": \"Макс. цена под ключ в рублях: 3000000 для 3 млн, 2500000 для 2.5 млн\"\n    },\n    \"min_total_rub\": {\n      \"type\": \"number\",\n      \"description\": \"Мин. цена под ключ в рублях (необязательно)\"\n    }\n  }\n}",
        "jsCode": "const settings = $('Настройки workflow').first().json;\nconst webOrigin = String(settings.webOrigin || 'https://avtovozom.com').replace(/\\/$/, '');\nconst input = typeof query === 'string' ? JSON.parse(query) : { ...query };\n\nfunction extractSearchParams(raw) {\n  let q = String(raw.q || '').trim();\n  let maxTotalRub = raw.max_total_rub != null && raw.max_total_rub !== '' ? Number(raw.max_total_rub) : null;\n  let minTotalRub = raw.min_total_rub != null && raw.min_total_rub !== '' ? Number(raw.min_total_rub) : null;\n  const src = q;\n  const mlnRe = /(?:до\\s*)?(\\d+(?:[.,]\\d+)?)\\s*млн/gi;\n  let m;\n  while ((m = mlnRe.exec(src)) !== null) {\n    if (!Number.isFinite(maxTotalRub) || maxTotalRub <= 0) {\n      maxTotalRub = Math.round(parseFloat(m[1].replace(',', '.')) * 1000000);\n    }\n  }\n  q = q.replace(/до\\s*\\d+(?:[.,]\\d+)?\\s*млн/gi, ' ')\n    .replace(/\\d+(?:[.,]\\d+)?\\s*млн/gi, ' ')\n    .replace(/до\\s*\\d[\\d\\s]{5,}/gi, ' ')\n    .replace(/(?:₽|руб(?:\\.?|лей)?)/gi, ' ');\n  q = q.replace(/\\b(ищу|нужен[ао]?|хочу|подобрать|найти|авто|машин[ауы]?|покажи|есть ли)\\b/giu, ' ')\n    .replace(/\\s+/g, ' ').trim();\n  q = latinizeBrandQuery(q);\n  return { q, maxTotalRub, minTotalRub };\n}\n\nconst BRAND_ALIASES = [\n  ['мерседес-бенц', 'Mercedes-Benz'], ['мерседес', 'Mercedes-Benz'], ['мерс', 'Mercedes-Benz'],\n  ['фольксваген', 'Volkswagen'], ['фольцваген', 'Volkswagen'], ['фолькс', 'Volkswagen'],\n  ['ленд ровер', 'Land Rover'], ['линк ко', 'Lynk & Co'], ['линк энд ко', 'Lynk & Co'],\n  ['ли авто', 'Li Auto'], ['ли-авто', 'Li Auto'], ['гак трумпчи', 'GAC Trumpchi'],\n  ['альфа ромео', 'Alfa Romeo'], ['грейт вол', 'GWM'], ['ауди', 'Audi'], ['бмв', 'BMW'],\n  ['тойота', 'Toyota'], ['мазда', 'Mazda'], ['ниссан', 'Nissan'], ['хонда', 'Honda'],\n  ['форд', 'Ford'], ['лексус', 'Lexus'], ['хёндай', 'Hyundai'], ['хендай', 'Hyundai'],\n  ['хондай', 'Hyundai'], ['хендэ', 'Hyundai'], ['киа', 'Kia'], ['кия', 'Kia'],\n  ['вольво', 'Volvo'], ['порше', 'Porsche'], ['рено', 'Renault'], ['пежо', 'Peugeot'],\n  ['ситроен', 'Citroën'], ['ситроён', 'Citroën'], ['шкода', 'Škoda'], ['опель', 'Opel'],\n  ['субару', 'Subaru'], ['сузуки', 'Suzuki'], ['мицубиси', 'Mitsubishi'], ['ягуар', 'Jaguar'],\n  ['инфинити', 'Infiniti'], ['джип', 'Jeep'], ['мини', 'MINI'], ['чери', 'Chery'],\n  ['бид', 'BYD'], ['би вай ди', 'BYD'], ['джили', 'Geely'], ['гели', 'Geely'],\n  ['геели', 'Geely'], ['хавал', 'Haval'], ['чанган', 'Changan'], ['хонгци', 'Hongqi'],\n  ['хончи', 'Hongqi'], ['зикр', 'Zeekr'], ['зикер', 'Zeekr'], ['нио', 'NIO'],\n  ['войя', 'Voyah'], ['воя', 'Voyah'], ['танк', 'Tank'], ['вей', 'WEY'], ['эксид', 'Exeed'],\n  ['омода', 'Omoda'], ['джетур', 'Jetour'], ['воях', 'Voyah'],\n];\n\nfunction latinizeBrandQuery(text) {\n  let out = String(text || '');\n  const sorted = BRAND_ALIASES.slice().sort((a, b) => b[0].length - a[0].length);\n  for (const [alias, latin] of sorted) {\n    const re = new RegExp(alias.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&'), 'giu');\n    out = out.replace(re, latin);\n  }\n  return out.replace(/\\s+/g, ' ').trim();\n}\n\nconst parsed = extractSearchParams(input);\nlet q = parsed.q;\nlet maxTotalRub = parsed.maxTotalRub;\nlet minTotalRub = parsed.minTotalRub;\nif (!q && !(Number.isFinite(maxTotalRub) && maxTotalRub > 0)) {\n  return JSON.stringify({ error: 'Нужен q (марка/модель) и/или max_total_rub' });\n}\nconst base = settings.apiBaseUrl.replace(/\\/$/, '');\nconst fetchLimit = String(settings.searchCarsFetchLimit || '100');\nconst outLimit = Math.max(1, Number(settings.searchCarsLimit || '5') || 5);\nconst params = [];\nfunction addParam(k, v) { params.push(encodeURIComponent(k) + '=' + encodeURIComponent(String(v))); }\nif (q) addParam('q', q);\naddParam('limit', fetchLimit);\naddParam('photo_limit', '1');\nif (Number.isFinite(maxTotalRub) && maxTotalRub > 0) addParam('sort', 'price_asc');\nconst url = base + '/cars?' + params.join('&');\ntry {\n  const text = await this.helpers.httpRequest({ method: 'GET', url, json: false });\n  const raw = typeof text === 'string' ? text : JSON.stringify(text);\n  let data;\n  try { data = JSON.parse(raw); } catch { return raw; }\n  if (!Array.isArray(data.items)) return raw;\n  let items = data.items.map((car) => ({\n    id: car.id,\n    title: car.title,\n    brand: car.brand,\n    model: car.model,\n    year: car.year,\n    mileage_km: car.mileage_km,\n    price_cny: car.price_cny,\n    estimated_total_rub: car.estimated_total_rub,\n    listing_url: webOrigin + '/cars/' + car.id,\n  }));\n  if (Number.isFinite(maxTotalRub) && maxTotalRub > 0) {\n    items = items.filter((car) => car.estimated_total_rub != null && car.estimated_total_rub <= maxTotalRub);\n  }\n  if (Number.isFinite(minTotalRub) && minTotalRub > 0) {\n    items = items.filter((car) => car.estimated_total_rub != null && car.estimated_total_rub >= minTotalRub);\n  }\n  const totalMatched = items.length;\n  items = items.slice(0, outLimit);\n  return JSON.stringify({\n    query_used: { q: q || null, max_total_rub: Number.isFinite(maxTotalRub) ? maxTotalRub : null },\n    total_catalog: data.total,\n    total_matched: totalMatched,\n    items,\n  });\n} catch (error) {\n  const status = error.statusCode ?? error.httpCode ?? error.response?.statusCode ?? '?';\n  const body = String(error.response?.body || error.description || error.message || '').slice(0, 800);\n  return JSON.stringify({ error: 'HTTP ' + status, body });\n}"
      },
      "id": "bot-tool-search-07",
      "name": "search_cars",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [1400, 520]
    },
    {
      "parameters": {
        "name": "get_car",
        "description": "Карточка одного авто по ID объявления на сайте. listing_id — только цифры (не марка и не текст запроса).",
        "language": "javaScript",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"listing_id\": {\n      \"type\": \"string\",\n      \"description\": \"ID объявления на сайте, только цифры\"\n    }\n  },\n  \"required\": [\"listing_id\"]\n}",
        "jsCode": "const settings = $('Настройки workflow').first().json;\nconst webOrigin = String(settings.webOrigin || 'https://avtovozom.com').replace(/\\/$/, '');\nconst input = typeof query === 'string' ? JSON.parse(query) : { ...query };\nconst listing_id = String(input.listing_id || '').replace(/\\D/g, '');\nif (!listing_id) return JSON.stringify({ error: 'Нужен listing_id' });\nconst base = settings.apiBaseUrl.replace(/\\/$/, '');\nconst url = base + '/cars/' + listing_id;\ntry {\n  const text = await this.helpers.httpRequest({ method: 'GET', url, json: false });\n  const raw = typeof text === 'string' ? text : JSON.stringify(text);\n  let car;\n  try { car = JSON.parse(raw); } catch { return raw; }\n  if (car && car.id) car.listing_url = webOrigin + '/cars/' + car.id;\n  return JSON.stringify(car);\n} catch (error) {\n  const status = error.statusCode ?? error.httpCode ?? error.response?.statusCode ?? '?';\n  const body = String(error.response?.body || error.description || error.message || '').slice(0, 800);\n  return JSON.stringify({ error: 'HTTP ' + status, body });\n}"
      },
      "id": "bot-tool-car-08",
      "name": "get_car",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [1400, 660]
    },
    {
      "parameters": {
        "name": "get_faq",
        "description": "Список частых вопросов и ответов avtovozom (доставка, таможня). Вызывай без параметров — передай пустой объект {}.",
        "language": "javaScript",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {}\n}",
        "jsCode": "const settings = $('Настройки workflow').first().json;\nconst base = settings.apiBaseUrl.replace(/\\/$/, '');\nconst url = base + '/faq';\ntry {\n  const text = await this.helpers.httpRequest({ method: 'GET', url, json: false });\n  return typeof text === 'string' ? text : JSON.stringify(text);\n} catch (error) {\n  const status = error.statusCode ?? error.httpCode ?? '?';\n  const body = String(error.description || error.message || '').slice(0, 800);\n  return JSON.stringify({ error: 'HTTP ' + status, body });\n}"
      },
      "id": "bot-tool-faq-09",
      "name": "get_faq",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [1400, 800]
    },
    {
      "parameters": {
        "name": "create_lead",
        "description": "Создать заявку на расчёт под ключ до РФ. Только когда есть user_name, user_contact и comment. car_id опционален.",
        "language": "javaScript",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"user_name\": { \"type\": \"string\", \"description\": \"Имя клиента\" },\n    \"user_contact\": { \"type\": \"string\", \"description\": \"Телефон или email\" },\n    \"comment\": { \"type\": \"string\", \"description\": \"Описание авто и пожелания к расчёту\" },\n    \"car_id\": { \"type\": \"string\", \"description\": \"Опционально: ID лота с сайта\" }\n  },\n  \"required\": [\"user_name\", \"user_contact\", \"comment\"]\n}",
        "jsCode": "const settings = $('Настройки workflow').first().json;\nlet ctx = {};\ntry { ctx = $('Контекст чата').first().json; } catch (e) { ctx = {}; }\nconst input = typeof query === 'string' ? JSON.parse(query) : { ...query };\nconst secret = String(settings.backendApiSecret || '').trim();\nif (!secret || secret.includes('ЗАМЕНИТЕ')) {\n  return JSON.stringify({ error: 'config', body: 'backendApiSecret не настроен в узле «Настройки workflow»' });\n}\nconst user_name = String(input.user_name || ctx.firstName || 'Клиент').trim();\nconst user_contact = String(input.user_contact || '').trim();\nconst comment = String(input.comment || '').trim();\nif (!user_contact) {\n  return JSON.stringify({ error: 'Нужен user_contact (телефон или email)' });\n}\nif (comment.length < 3) {\n  return JSON.stringify({ error: 'Нужен comment — описание авто (минимум 3 символа)' });\n}\nconst payload = {\n  user_name,\n  user_contact,\n  comment,\n  telegram_chat_id: String(ctx.chatId || ''),\n  telegram_username: String(ctx.username || ''),\n};\nconst rawCarId = input.car_id;\nif (rawCarId !== null && rawCarId !== undefined && String(rawCarId).trim() !== '') {\n  const n = Number(String(rawCarId).replace(/\\D/g, ''));\n  if (Number.isFinite(n) && n > 0) payload.car_id = n;\n}\nconst url = settings.apiBaseUrl.replace(/\\/$/, '') + '/integrations/n8n/bot/create-request';\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url,\n    headers: {\n      'Content-Type': 'application/json',\n      'X-N8N-Webhook-Secret': secret,\n    },\n    body: JSON.stringify(payload),\n    json: false,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n  const status = resp.statusCode || resp.status || 0;\n  const rawBody = resp.body ?? resp.data ?? '';\n  const text = typeof rawBody === 'string' ? rawBody : JSON.stringify(rawBody);\n  if (status < 200 || status >= 300) {\n    return JSON.stringify({ error: 'HTTP ' + status, body: text.slice(0, 500) });\n  }\n  let result;\n  try { result = JSON.parse(text); } catch { result = null; }\n  if (result && result.ok === true && result.request_id) {\n    return JSON.stringify({ ok: true, request_id: result.request_id, message: 'Заявка #' + result.request_id + ' принята' });\n  }\n  return JSON.stringify({ error: 'unexpected_response', body: text.slice(0, 500) });\n} catch (error) {\n  const status = error.statusCode ?? error.httpCode ?? error.response?.statusCode ?? '?';\n  const body = String(error.response?.body || error.description || error.message || '').slice(0, 500);\n  return JSON.stringify({ error: 'HTTP ' + status, body });\n}"
      },
      "id": "bot-tool-lead-10",
      "name": "create_lead",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [1400, 940]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userText }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "bot-agent-11",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1640, 360]
    },
    {
      "parameters": {
        "jsCode": "const raw = String(items[0].json.output ?? '').trim();\n\nfunction dedupeReply(text) {\n  if (!text) return text;\n  const half = Math.floor(text.length / 2);\n  if (text.length > 30) {\n    const left = text.slice(0, half).trim();\n    const right = text.slice(half).trim();\n    if (left === right) return left;\n  }\n  const parts = text.split(/\\n+/).map((p) => p.trim()).filter(Boolean);\n  const unique = [];\n  for (const p of parts) {\n    if (unique[unique.length - 1] !== p) unique.push(p);\n  }\n  return unique.join('\\n');\n}\n\nreturn [{ json: { output: dedupeReply(raw) } }];"
      },
      "id": "bot-dedupe-reply-14",
      "name": "Очистка ответа",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 360]
    },
    {
      "parameters": {
        "chatId": "={{ $('Контекст чата').item.json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "bot-tg-reply-12",
      "name": "Telegram: ответ",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1900, 360],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TELEGRAM_CREDENTIAL",
          "name": "Avtovozom Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Настройки workflow').item.json.channelHintText }}",
        "additionalFields": {}
      },
      "id": "bot-tg-channel-hint-13",
      "name": "Telegram: подсказка канал",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [960, 480],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TELEGRAM_CREDENTIAL",
          "name": "Avtovozom Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Настройки workflow", "type": "main", "index": 0 }]]
    },
    "Настройки workflow": {
      "main": [[{ "node": "Только личка", "type": "main", "index": 0 }]]
    },
    "Только личка": {
      "main": [
        [{ "node": "Контекст чата", "type": "main", "index": 0 }],
        [{ "node": "Telegram: подсказка канал", "type": "main", "index": 0 }]
      ]
    },
    "Контекст чата": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Память диалога": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "search_cars": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "get_car": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "get_faq": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "create_lead": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Очистка ответа", "type": "main", "index": 0 }]]
    },
    "Очистка ответа": {
      "main": [[{ "node": "Telegram: ответ", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
