deploy/n8n-telegram-ai-draft.workflow.json
{
  "name": "Avtovozom — Telegram текст (ИИ)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avtovozom-telegram-ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aeb5d3c1-eb9a-4b4c-91d9-aaaaaaaaaa01",
      "name": "Webhook AI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "aeb5d3c1-eb9a-4b4c-91d9-aaaaaaaaaa01"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ ($json.headers && ($json.headers['x-n8n-webhook-secret'] ?? $json.headers['X-N8N-Webhook-Secret'])) || '' }}",
              "operator": { "type": "string", "operation": "equals" },
              "rightValue": "={{ $env.AVTOVOZOM_AI_WEBHOOK_SECRET || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "aeb5d3c1-eb9a-4b4c-91d9-aaaaaaaaaa02",
      "name": "Секрет OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'Forbidden' }) }}",
        "options": { "responseCode": 403 }
      },
      "id": "aeb5d3c1-eb9a-4b4c-91d9-aaaaaaaaaa03",
      "name": "Respond Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [740, 160]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "systemPrompt",
              "value": "Ты пишешь короткий продающий пост на русском для Telegram про объявление авто.\n\nПравила фактов:\n- Цену, год, пробег, комплектацию, двигатель и прочие данные ЭТОГО объявления бери только из JSON. Не выдумывай цифры и характеристики лота.\n- Если в style_hint просят описание/sales-поинты модели или «найди в интернете» — обязательно используй встроенный Web Search по марке/модели/поколению и опирайся на найденное. Не подставляй выдуманные «тезисы из головы», если поиск доступен.\n- Не вставляй фото, markdown-картинки и URL чужих фото в текст.\n- В конце добавь перенос строки и явную строку со ссылкой listing_web_url из JSON.\n- Соблюдай style_hint, если он передан.\n- Без заголовков вроде «Ответ модели», без водяных символов.",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "userContent",
              "value": "={{ (() => { const body = ($json.body) || {}; const hint = (body.style_hint || '').trim(); const car = body.car || {}; const brand = car.brand || ''; const model = car.model || ''; const gen = car.generation || ''; const year = car.year || ''; const searchHint = [brand, model, gen, year].filter(Boolean).join(' '); let text = 'Собери финальный текст одного сообщения Telegram (можно переносы строк).\\n'; if (hint) text += 'Пожелания к стилю и содержанию (style_hint):\\n' + hint + '\\n\\n'; if (searchHint) text += 'Для Web Search по sales-поинтам модели используй запрос вроде: \"' + searchHint + ' обзор плюсы особенности\".\\n\\n'; text += 'Инструмент JSON объявления:\\n\\n' + JSON.stringify(body, null, 2); return text; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "aeb5d3c1-eb9a-4b4c-91d9-aaaaaaaaaa04",
      "name": "Промпт",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [740, 420]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userContent }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "aeb5d3c1-eb9a-4b4c-91d9-aaaaaaaaaa08",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [980, 420]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.5",
          "mode": "list",
          "cachedResultName": "gpt-5.5"
        },
        "responsesApiEnabled": true,
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "id": "aeb5d3c1-eb9a-4b4c-91d9-aaaaaaaaaa09",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [980, 620],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_OPENAI_CREDENTIAL",
          "name": "OpenAI"
        }
      },
      "notesInFlow": true,
      "notes": "Credentials OpenAI — в UI n8n. Responses API + Web Search."
    },
    {
      "parameters": {
        "jsCode": "const raw = String(items[0].json.output ?? '').trim();\nif (!raw) {\n  const err = items[0].json?.error?.message || items[0].json?.message || 'Пустой ответ AI Agent';\n  throw new Error(String(err).slice(0, 400));\n}\nreturn [{ json: { text: raw } }];"
      },
      "id": "aeb5d3c1-eb9a-4b4c-91d9-aaaaaaaaaa06",
      "name": "Из ответа в text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1210, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ text: $json.text }) }}",
        "options": {}
      },
      "id": "aeb5d3c1-eb9a-4b4c-91d9-aaaaaaaaaa07",
      "name": "Respond текст",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1440, 420]
    }
  ],
  "connections": {
    "Webhook AI": {
      "main": [[{ "node": "Секрет OK", "type": "main", "index": 0 }]]
    },
    "Секрет OK": {
      "main": [
        [{ "node": "Промпт", "type": "main", "index": 0 }],
        [{ "node": "Respond Forbidden", "type": "main", "index": 0 }]
      ]
    },
    "Промпт": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Из ответа в text", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Из ответа в text": { "main": [[{ "node": "Respond текст", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
