deploy/n8n-telegram-publish.workflow.json
{
  "name": "Avtovozom — Telegram публикация в канал",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avtovozom-telegram-publish",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbb1",
      "name": "Webhook Publish",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 480],
      "webhookId": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbb1"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ ($json.headers && ($json.headers['x-n8n-webhook-secret'] ?? $json.headers['X-N8N-Webhook-Secret'])) || '' }}",
              "operator": { "type": "string", "operation": "equals" },
              "rightValue": "={{ $env.AVTOVOZOM_PUBLISH_WEBHOOK_SECRET || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbb2",
      "name": "Секрет OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'Forbidden' }) }}",
        "options": { "responseCode": 403 }
      },
      "id": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbb3",
      "name": "Respond Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [740, 280]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatId",
              "value": "={{ String($env.TELEGRAM_CHANNEL_ID || '').trim() }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "textFull",
              "value": "={{ String(($json.body && $json.body.text) ? $json.body.text : '').trim() }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "photoUrls",
              "value": "={{ (($json.body && Array.isArray($json.body.photo_urls)) ? $json.body.photo_urls : []).filter((u) => typeof u === 'string').map((u) => u.trim()).filter((u) => u.startsWith('http')).slice(0, 10) }}",
              "type": "array"
            },
            {
              "id": "a4",
              "name": "caption",
              "value": "={{ (() => { const t = String(($json.body && $json.body.text) ? $json.body.text : '').trim(); return t.length <= 980 ? t : (t.slice(0, 979) + '…'); })() }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "photoCount",
              "value": "={{ (($json.body && Array.isArray($json.body.photo_urls)) ? $json.body.photo_urls : []).filter((u) => typeof u === 'string').map((u) => u.trim()).filter((u) => u.startsWith('http')).slice(0, 10).length }}",
              "type": "number"
            },
            {
              "id": "a6",
              "name": "botToken",
              "value": "={{ String($env.TELEGRAM_BOT_TOKEN || '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbb4",
      "name": "Данные для поста",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [740, 520]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "combineOperation": "all" },
          "conditions": [
            {
              "leftValue": "={{ String($json.chatId || '').trim() || String($env.TELEGRAM_CHANNEL_ID || '').trim() }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "id": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbb4b",
      "name": "Канал задан?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'Не задан TELEGRAM_CHANNEL_ID в окружении n8n (или создай credential и укажи Chat ID там).' }) }}",
        "options": { "responseCode": 400 }
      },
      "id": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbb4c",
      "name": "Respond нет канала",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1180, 360]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "combineOperation": "all" },
          "conditions": [
            {
              "id": "photo",
              "leftValue": "={{ Number($json.photoCount ?? 0) }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "larger" }
            }
          ]
        },
        "options": {}
      },
      "id": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbb5ph",
      "name": "Есть фото?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1180, 580]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "combineOperation": "all" },
          "conditions": [
            {
              "leftValue": "={{ String($json.textFull || '').length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "larger" }
            }
          ]
        },
        "options": {}
      },
      "id": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbb5txt",
      "name": "Есть текст?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1460, 440]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'Нет ни текста, ни фото.' }) }}",
        "options": { "responseCode": 400 }
      },
      "id": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbb5err",
      "name": "Respond пустой пост",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1720, 320]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ String($json.chatId || '').trim() || String($env.TELEGRAM_CHANNEL_ID || '').trim() }}",
        "text": "={{ $json.textFull }}"
      },
      "id": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbb6msg",
      "name": "Telegram: текст",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1740, 440]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "combineOperation": "all" },
          "conditions": [
            {
              "leftValue": "={{ Number($json.photoCount ?? 0) }}",
              "rightValue": 1,
              "operator": { "type": "number", "operation": "larger" }
            }
          ]
        },
        "options": {}
      },
      "id": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbb7",
      "name": "Два и более фото?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1460, 620]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendPhoto",
        "chatId": "={{ String($json.chatId || '').trim() || String($env.TELEGRAM_CHANNEL_ID || '').trim() }}",
        "file": "={{ (() => { const n = Number($json.photoCount ?? 0); if (n !== 1) return ''; const r = $json.photoUrls; const a = Array.isArray(r) ? r : (r && typeof r === 'object' ? Object.values(r) : []); const u = String(a[0] || '').trim(); return u.startsWith('http') ? u : ''; })() }}",
        "additionalFields": {
          "caption": "={{ String($json.textFull || '').length <= 1024 ? ($json.textFull || '') : ($json.caption || '') }}"
        }
      },
      "id": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbb8pho",
      "name": "Telegram: одно фото",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1740, 560]
    },
    {
      "parameters": {
        "jsCode": "function urlsFromRow(row) {\n  let raw = row.photoUrls;\n  if (Array.isArray(raw)) return raw.map((u) => String(u || '').trim()).filter((u) => u.startsWith('http'));\n  if (raw && typeof raw === 'object') return Object.values(raw).map((u) => String(u || '').trim()).filter((u) => u.startsWith('http'));\n  const body = $('Webhook Publish').first().json.body;\n  const arr = body && Array.isArray(body.photo_urls) ? body.photo_urls : [];\n  return arr.filter((u) => typeof u === 'string').map((u) => u.trim()).filter((u) => u.startsWith('http')).slice(0, 10);\n}\nconst row = $('Данные для поста').first().json;\nconst urls = urlsFromRow(row);\nif (urls.length < 2) {\n  throw new Error('internal: нужно минимум 2 URL для альбома');\n}\nconst chatId = String(row.chatId || '').trim();\nif (!chatId) {\n  throw new Error('Не задан chat_id: проверьте TELEGRAM_CHANNEL_ID в env n8n.');\n}\nconst botToken = String(row.botToken || '').trim();\nif (!botToken) {\n  throw new Error('TELEGRAM_BOT_TOKEN пустой: добавьте в .env, пробросьте в docker-compose (environment: TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}) и перезапустите n8n.');\n}\nconst capRaw = String(row.textFull || '').trim();\nconst cap = capRaw.length <= 1024 ? capRaw : String(row.caption || '').trim().slice(0, 1024);\nconst media = urls.slice(0, 10).map((u, i) => {\n  const item = { type: 'photo', media: String(u || '').trim() };\n  if (i === 0 && cap) item.caption = cap;\n  return item;\n});\nreturn [{ json: { chat_id: chatId, media, botToken } }];\n"
      },
      "id": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbbprep",
      "name": "Сборка альбома",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 760],
      "notes": "Только JSON для sendMediaGroup. Токен приходит из «Данные для поста» (Set читает $env). Отправка — HTTP Request."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $json.botToken + '/sendMediaGroup' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chat_id, media: $json.media }) }}",
        "options": {}
      },
      "id": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbbhttp",
      "name": "HTTP: sendMediaGroup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 760]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, telegram_message_id: ($json.result && $json.result.message_id !== undefined) ? $json.result.message_id : (($json.result && $json.result[0] && $json.result[0].message_id !== undefined) ? $json.result[0].message_id : null) }) }}",
        "options": {}
      },
      "id": "beb5d3c1-eb9a-4b4c-91d9-bbbbbbbbbbb6",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [2260, 560]
    }
  ],
  "connections": {
    "Webhook Publish": {
      "main": [[{ "node": "Секрет OK", "type": "main", "index": 0 }]]
    },
    "Секрет OK": {
      "main": [
        [{ "node": "Данные для поста", "type": "main", "index": 0 }],
        [{ "node": "Respond Forbidden", "type": "main", "index": 0 }]
      ]
    },
    "Данные для поста": {
      "main": [[{ "node": "Канал задан?", "type": "main", "index": 0 }]]
    },
    "Канал задан?": {
      "main": [
        [{ "node": "Есть фото?", "type": "main", "index": 0 }],
        [{ "node": "Respond нет канала", "type": "main", "index": 0 }]
      ]
    },
    "Есть фото?": {
      "main": [
        [{ "node": "Два и более фото?", "type": "main", "index": 0 }],
        [{ "node": "Есть текст?", "type": "main", "index": 0 }]
      ]
    },
    "Есть текст?": {
      "main": [
        [{ "node": "Telegram: текст", "type": "main", "index": 0 }],
        [{ "node": "Respond пустой пост", "type": "main", "index": 0 }]
      ]
    },
    "Telegram: текст": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    },
    "Два и более фото?": {
      "main": [
        [{ "node": "Сборка альбома", "type": "main", "index": 0 }],
        [{ "node": "Telegram: одно фото", "type": "main", "index": 0 }]
      ]
    },
    "Telegram: одно фото": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    },
    "Сборка альбома": {
      "main": [[{ "node": "HTTP: sendMediaGroup", "type": "main", "index": 0 }]]
    },
    "HTTP: sendMediaGroup": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "staticData": null
}
